.movingHead{
    animation: moveHead 5s infinite;
}


@keyframes moveHead {
    0% {
      transform: rotate(0deg);
    }
    30% {
      transform: rotate(3deg);
    }
    60% {
      transform: rotate(-3deg);
    }
    100% {
      transform: rotate(0deg);
    }
}

.movingEars{
    animation: moveEars 5s infinite;
}

@keyframes moveEars {
    0% {
      transform: rotate(0deg);
    }
    30% {
      transform: skewY(1deg) skewX(2deg) rotate(1deg);
    }
    60% {
      transform: skewY(-1deg) skewX(-2deg) rotate(-1deg);
    }
    100% {
      transform: rotate(0deg);
    }
}

.wigglingNose{
    animation: wiggleNose 2s infinite;
}

@keyframes wiggleNose {
  0% {
    bottom: 0px;
  }
  30% {
    bottom: 2px;
  }
  60% {
    bottom: -2px;
  }
  100% {
    bottom: 0px;
  }
}

.blinkingEyes{
  animation: blinkEyes 5s infinite;
}

@keyframes blinkEyes {
  0% {
    border-top: 0px solid;
  }
  0% {
    border-bottom: 0px solid;
  }
  10% {
    border-top: 0px solid;
  }
  10% {
    border-bottom: 0px solid;
  }
  15%{
    border-top: 38px solid;
  }
  15%{
    border-bottom: 38px solid;
  }
  20% {
    border-top: 0px solid;
  }
  20% {
    border-bottom: 0px solid;
  }
  100% {
    border-top: 0px solid;
  }
  100% {
    border-bottom: 0px solid;
  }
}

.tailwagging{
  animation: tailwag 5s infinite;
}

@keyframes tailwag {
  0% {
    transform: scale(1,-1) rotate(-81deg);
  }
  20% {
    transform: scale(1,-1) rotate(-77deg);
  }
  40% {
    transform: scale(1,-1) rotate(-81deg);
  }
  80% {
    transform: scale(1,-1) rotate(-77deg);
  }
  100% {
    transform: scale(1,-1) rotate(-81deg);
  }
}

.tailendwagging{
  animation: tailendwag 5s infinite;
}

@keyframes tailendwag {
  0% {
    top: 244px;
  }
  20% {
    top: 232px;
  }
  40% {
    top: 244px;
  }
  80% {
    top: 232px;
  }
  100% {
    top: 244px;
  }
}

.earupdown{
    animation: earupanddown 5s infinite;
}

@keyframes earupanddown {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: skewY(2deg) skewX(3deg) rotate(1deg);
  }
  60% {
    transform: skewY(-2deg) skewX(-3deg) rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.eyesmoving{
    animation: eyesmove 10s infinite;
}

@keyframes eyesmove {
  0% {
    left: 0px;
  }
  20%, 37% {
    left: 3px;
  }
  50%, 60% {
    left: 0px;
  }
  71%, 88% {
    left: -3px;
  }
  100% {
    left: 0px;
  }
}

.pupilsmoving{
    animation: pupilsmove 10s infinite;
}

@keyframes pupilsmove {
  0% {
    left: 16px;
  }
  20%, 37% {
    left: 23px;
  }
  50%, 60% {
    left: 16px;
  }
  71%, 88% {
    left: 9px;
  }
  100% {
    left: 16px;
  }
}

.kittySliding{
    animation: kittySlide 30s infinite;
}

@keyframes kittySlide {
  0% {
    margin-left: 510px;
  }
  20%{
    margin-top: 0px;
  }
  25% {
    margin-left: 910px;
    margin-top: -70px;
  }
  30% {
    margin-left: 910px;
    margin-top: 0px;
  }
  50% {
    margin-left: 510px;
  }
  70% {
    margin-top: 0px;
  }
  75% {
    margin-left: 110px;
    margin-top: -70px;
  }
  80% {
    margin-left: 110px;
    margin-top: 0px;
  }
  100% {
    margin-left: 510px;
  }
}
