.class{
    position: relative;
}

#head{
    background-color: rgb(119, 117, 113);
    width: 200px;
    height: 200px;
    border-radius: 70% 70% 50% 50%;
    top: -132px;
    position: relative;
    box-shadow: 1px 1px 0px 1px rgb(228, 228, 226);
}

#body{
    background-color: rgb(119, 117, 113);
    width: 100px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    left: 50px;
    top: 174px;
    box-shadow: 1px 1px 0px 1px rgb(228, 228, 226);
}

.stripes{
    position: relative;
    top: 30px;
    display: flex;
}

.stripes-top-left{
    /*background-color: white;
    border-radius: 50% 50% 50% 50%;
    width: 15px;
    height: 46px;
    margin: -23px;
    position: relative;
    left: 123px;
    top: -7px;*/
    color: white;
    font-size: 6rem;
    left: 70px;
    top: -55px;
    position: absolute;
    border-radius: 50%;
    letter-spacing: -72px;
    transform: rotate(-61deg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.stripes-top-right{
    /*background-color: white;
    border-radius: 50% 50% 50% 50%;
    width: 15px;
    height: 46px;
    margin: -23px;
    position: relative;
    left: 138px;
    top: -7px;*/
    color: white;
    font-size: 6rem;
    left: 48px;
    top: -20px;
    position: absolute;
    border-radius: 50%;
    letter-spacing: -72px;
    height: 30px;
    transform: scale(1,-1) rotate(-63deg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.stripes-bottom-left{
    color: white;
    font-size: 7rem;
    left: -26px;
    top: 37px;
    position: absolute;
    border-radius: 50%;
    letter-spacing: -72px;
    height: 30px;
    transform: rotate(-19deg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.stripes-bottom-right{
    color: white;
    font-size: 7rem;
    left: 118px;
    top: 150px;
    position: absolute;
    border-radius: 50%;
    letter-spacing: -72px;
    height: 30px;
    transform: scale(1,-1) rotate(-19deg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tummy{
    background-color: rgb(250, 249, 229);
    width: 50px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 27px;
    top: 48px;
}

.eyes{
    position: relative;
    top: 30px;
    display: flex;
}

.eye{
    background-color: white;
    border-radius: 50%;
    width: 63px;
    height: 75px;
    margin: 19px;
    position: relative;
}

.eye-borders-left{
    background-color: none;
    border-radius: 50%;
    width: 63px;
    height: 75px;
    margin: 19px;
    position: absolute;
    left: -26px;
    top: -25px;
    position: absolute;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-image: initial;
}

.eye-borders-right{
    background-color: none;
    border-radius: 50%;
    width: 63px;
    height: 75px;
    margin: 19px;
    position: absolute;
    left: -26px;
    top: -25px;
    position: absolute;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-image: initial;
}

.left-Eye{
    background-color: green;
    border-radius: 50%;
    width: 50px;
    height: 69px;
    margin: 6px;
    position: relative;
}

.right-Eye{
    background-color: green;
    border-radius: 50%;
    width: 50px;
    height: 69px;
    margin: 6px;
    position: relative;
}

.pupils{
    background-color: black;
    width: 17px;
    height: 48px;
    border-radius: 50%;
    position: absolute;
    left: 16px;
    top: 17px;
}

.ears{
    position: relative;
}

.ear{
    border-radius: 90% 0 90% 0;
    background-color: rgb(119, 117, 113);
    height: 175px;
    width: 100px;
    position: absolute;
    left: 100px;
    box-shadow: 1px 1px 0px 1px rgb(228, 228, 226);
}

#left-ear{
    transform: scale(1,-1) rotate(0deg);
    left: 0;
}

#right-ear{
    left: 100px;
}

.inner-Ear{
    border-radius: 90% 0 90% 0;
    background-color: rgb(250, 249, 229);
    height: 125px;
    width: 50px;
    position: absolute;
    top: 15px;
    box-shadow: 1px 1px 1px 2px rgb(185, 183, 165);
}

#inner-left-ear{
    left: 12px;
    top: 34px;
}

#inner-right-ear{
    left: 40px;
}

.back-legs{
    position: relative;
    top: 10px;
    display: flex;
}

.back-leg-left{
    background-color: rgb(119, 117, 113);
    height: 63px;
    width: 22px;
    border-radius: 50% 126% 90% 90%;
    margin: 16px;
    position: relative;
    transform: rotate(-15deg);
    left: -21px;
    top: 62px;
    margin-left: 16px;
    box-shadow: 1px 1px 0px 1px rgb(228, 228, 226);
}

.back-leg-right{
    background-color: rgb(119, 117, 113);
    height: 63px;
    width: 22px;
    border-radius: 126% 50% 90% 90%;
    margin: 16px;
    position: relative;
    transform: rotate(15deg);
    left: 13px;
    top: 62px;
    margin-left: 16px;
    box-shadow: 1px 1px 0px 1px rgb(228, 228, 226);
}

.front-legs{
    position: relative;
    top: 10px;
    display: flex;
}

.front-leg{
    background-color: rgb(119, 117, 113);
    border-radius: 75% 75% 100% 100%;
    height: 86px;
    width: 19px;
    top: -46px;
    margin: 7px;
    position: relative;
    left: 17px;
    box-shadow: 1px 1px 0px 1px rgb(228, 228, 226);
}

.paws{
    background-color: rgb(250, 249, 229);
    height: 20px;
    width: 25px;
    border-radius: 75% 75% 50% 50%;
    top: 71px;
    left: -3px;
    position: relative;
    box-shadow: 1px 1px 0px 1px rgb(228, 228, 226);
}

.paws-back-left{
    background-color: rgb(250, 249, 229);
    height: 20px;
    width: 25px;
    border-radius: 50% 50% 47% 102%;
    top: 45px;
    left: -2px;
    position: relative;
    box-shadow: 1px 1px 0px 1px rgb(228, 228, 226);
}

.paws-back-right{
    background-color: rgb(250, 249, 229);
    height: 20px;
    width: 25px;
    border-radius: 50% 50% 102% 47%;
    top: 44px;
    left: -1px;
    position: relative;
    box-shadow: 1px 1px 0px 1px rgb(228, 228, 226);
}

.nose{
    position: relative;
}

.left-nose{
    border-radius: 35% 70% 30% 90%;
    background-color: rgb(252, 77, 106);
    height: 18px;
    width: 15px;
    position: absolute;
    left: 86px;
    top: -28px;
}

.right-nose{
    border-radius: 70% 35% 90% 30%;
    background-color: rgb(252, 77, 106);
    height: 18px;
    width: 15px;
    position: relative;
    left: 94px;
    top: -28px;
}

.mouth{
    position: relative;
    top: 10px;
    display: flex;
}

.lips{
    background-color: rgb(250, 249, 229);
    border-radius: 50%;
    height: 33px;
    width: 31px;
    top: -8px;
    margin: -3px;
    position: relative;
    left: 52px;
    box-shadow: 1px 1px 0px 1px rgb(228, 228, 226);
}

.whiskers{
    position: relative;
    font-size: 1rem;
}

#left-whisker{
    left: 13px;
    top: 11px;
    transform: rotate(90deg);
}

#right-whisker{
    transform: scale(1,-1) rotate(90deg);
    left: -18px;
    top: -1px;
}

.tail{
    color: rgb(119, 117, 113);
    font-size: 12rem;
    left: 75px;
    top: 321px;
    position: absolute;
    border-radius: 50%;
    letter-spacing: -72px;
    height: 30px;
    transform: scale(1,-1) rotate(-81deg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px rgb(228, 228, 226);
}

.tail-end{
    height: 25px;
    width: 30px;
    border-radius: 90% 0% 90% 0%;
    left: 194px;
    top: 244px;
    position: relative;
    transform: rotate(-74deg);
    background-color: rgb(250, 249, 229);
    box-shadow: 1px 1px rgb(228, 228, 226);
  }

.jaw{
    background-color: rgb(255, 255, 255);
    height: 14px;
    width: 22px;
    border-radius: 50%;
    position: relative;
    left: 89px;
    top: 13px;
}

/*buttons*/
#defaultButton{
  margin: 4px;
}

#randomButton{
  margin: 4px;
}

#createButton{
  margin: 4px;
}


/*factory*/

#cyber-factory-header{
  text-align: center;
  color: #580b65;
  font-family: defcon;
  font-size: 60px;
}

#kitty-factory-header{
  font-size: 50px;
  color: #05d9eb;
  font-family: kitty;
}

#defaultButton{
  background: #05d9eb;
  height: 60px;
  width: 150px;
}

.defaultKit{
  font-family: kitty;
  margin-left: -8px;
  margin-top: -6px;
  font-size: 40px;
}

#randomButton{
  background: #7e258d;
  height: 60px;
  width: 150px;
}

.randomKit{
  font-family: kitty;
  margin-left: -8px;
  margin-top: -7px;
  font-size: 40px;
}

#createButton{
  background: #2ac367;
  height: 60px;
  width: 191px;
}

.createKit{
  font-family: kitty;
  margin-left: -14px;
  margin-top: -4px;
  font-size: 36px;
}


/*MyKitties.html*/

.flexBox{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  left: 60px;
}

.card-body{
  width: 248px;
  padding-left: 13px;
  background-color: #e5c6ff;
  font-size: 10px;
  color: black;
  border-radius: 00px 40px 0px 440px;
}

#myOwnedKitties{
  background-color: white;
  padding: 50px;
  margin: 0;
  width: 100%;
  padding-left: 145px;
}

.title{
  width: 100%;
  text-align: center;
  height: 205px;
  padding-top: 40px;
}


.my-kitties{
  width: 100%;
  margin: -60px;
  margin-top: 20px;
}


element.style {
    color: rgb(30, 24, 209);
    background: rgb(30, 24, 209);
}


.catGenes{
  color: black;
  width: 217px;
  text-align: left;
}

.cards{
    position: relative;
    left: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    margin-bottom: 15px;
    background-clip: border-box;
    border-radius: .25rem;
}

.tail-display-kitties {
    color: rgb(119, 117, 113);
    font-size: 12rem;
    left: 90px;
    top: 269px;
    position: absolute;
    border-radius: 50%;
    letter-spacing: -72px;
    margin-left: -50px;
    height: 30px;
    transform: scale(1,-1) rotate(-81deg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px rgb(228, 228, 226);
}


/*Breed.html*/
.flexBox-breed{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  left: 164px;
}

.dadKitty{
  height: 300px;
  width: 250px;
  border-radius: 32px 32px 32px 32px;
  border-width: 0;
  background-color: #05d9eb;
  margin: 50px;
}

.dadKitty:focus {
  outline:0;
}

.dadKitty:hover{
  background: #06a8e6;
}

.momKitty:focus {
  outline:0;
}

.momKitty:hover{
  background: #f9657e;
}

.momKitty{
  height: 300px;
  width: 250px;
  border-radius: 32px 32px 32px 32px;
  border-width: 0;
  background-color: #fba5b4;
  margin: 50px;
}

.option_inner{
  border-radius: 5px;
  cursor: pointer;
  display: block;
  border: 5px solid transparent;
  position: relative;
}

.option_item .checkbox{
  position: absolute;
  top: 10px;
  right: 40px;
  z-index: 1;
  opacity: 0;
}

.option_item .option_inner .tickmark{
  position: absolute;
  top: 0px;
  left: 0px;
  border: 20px solid;
  border-color: #000 transparent transparent #000;
  display: none;
}

.option_item .checkbox:checked ~ .option_inner .tickmark{
  display: block;
}

.option_item .option_inner .tickmark:before{
  content: "";
  position: absolute;
  top: -15px;
  left: -16px;
  width: 20px;
  height: 10px;
  border: 3px solid red;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
}

.option_item .option_inner .tickmark{
  border-color: #2b0df1 transparent transparent #2b0df1;
}

.my-breeders{
  width: 100%;
  margin: -60px;
  margin-top: 20px;
}


.parent-card{
  transform: scale(.75);
}

.close{
  position: absolute;
  top: 8px;
  right: 11px;
}

.parent-cards{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 244px;
  left: 20px;
}

#parentChosen{
  transform: scale(.75);
  width: 235px;
  margin: 20px;
  margin-top: -68px;
}

#parentChosen #right-whisker{
  top: 10px;
  left: -16px;
}

#clearDad{
  margin-left: 85px;
  margin-top: 20px;
  width: 185px;
}

#clearDad:hover{
  background: #f9657e;
}

#clearMom{
  margin-left: 170px;
  margin-top: 20px;
  width: 185px;
}

#clearMom:hover{
  background: #f9657e;
}

@font-face{
  src: url(fonts/DefconZeroPunchItalic-6qVq.otf);
  font-family: defcon;
}

@font-face{
  src: url(fonts/LikelyKittyPersonalUse-PKKym.otf);
  font-family: kitty;
}

.clearButton{
  border-radius: 32px 32px 32px 32px;
  border-width: 0;
  background-color: pink;
  font-family: kitty;
  font-size: 25px;
}

.clearButton:focus{
  outline:0;
}

.clearText{
  margin-left: -10px;
}

#breed{
  margin: 35px;
  margin-left: 205px;
  border-radius: 32px 32px 32px 32px;
  border-width: 0;
  background-color: #05d9eb;
  font-family: kitty;
  font-size: 55px;
  color: white;
  width: 285px;
  height: 75px;
}

#breed:focus{
  outline:0;
}

#breed:hover{
  background: #06a8e6;
}

.child{
  margin-left: -20px;
}
