
@font-face{
  src: url(fonts/DefconZeroPunchItalic-6qVq.otf);
  font-family: defcon;
}

@font-face{
  src: url(fonts/LikelyKittyPersonalUse-PKKym.otf);
  font-family: kitty;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}


#cyber-font{
  text-align: center;
  color: #ff2a6d;
  font-family: defcon;

}

header{
  padding-left: 25px;
}

#cyber-font-header{
  text-align: center;
  color: #ff2a6d;
  font-family: defcon;
  font-size: 15px;
}

#kitty-font-header{
  font-size: 30px;
  color: #05d9eb;
  font-family: kitty;
}

#cyber-font-nav{
  text-align: center;
  color: #ff2a6d;
  font-family: defcon;
}


#kitty-font{
  text-align: center;
  color: #05d9eb;
  font-family: kitty;
  font-size: 25px;

}

#navigation{
  background: linear-gradient(black, #29132e);
}


#navigation a {
  text-align: right;
}


.nav-head{
  font-size: 15px;
  padding-right: 40px;
}

header{
  background: linear-gradient(#965b5b, #080408);
}

.nav-link{
  font-size: 20px;
}


#cyber-font-home{
  font-size: 120px;
  text-align: center;
  color: #ff2a6d;
  font-family: defcon;
  /*text-shadow: 0 0 20px;*/
}


#kitty-font-home{
  text-align: center;
  color: #05d9eb;
  font-family: kitty;
  font-size: 180px;
  /*text-shadow: 0 0 900px #ff005b;*/
}

#beauty{
  font-size: 30px;
  text-align: center;
  color: #ff2a6d;
  font-family: defcon;
}


.my-kitties-header{
  text-align: center;
  color: #05d9eb;
  font-family: kitty;
  font-size: 90px;
}


#top-cell{
  background-color: #29132e;
  padding: 50px;
  height: 400px;
}


#middle-cell{
  background-color: white;
  height: 700px;
}
