
@font-face{
  src: url(fonts/DefconZeroPunchItalic-6qVq.otf);
  font-family: defcon;
}

@font-face{
  src: url(fonts/LikelyKittyPersonalUse-PKKym.otf);
  font-family: kitty;
}

body {
    background: white;

}


#cyber-font{
  text-align: center;
  color: #ff2a6d;
  font-family: defcon;

}

#cyber-font-header{
  text-align: center;
  color: #ff2a6d;
  font-family: defcon;

}

#kitty-font{
  text-align: center;
  color: #05d9eb;
  font-family: kitty;

}

#navigation{
  background: linear-gradient(black, #29132e);
  height: 15vh;
  position: fixed;
  top: 0;
  width: 100%;
}


#navigation a {
  float: left;
  display: block;

}


.nav-head{
  font-size: 15px;
  padding-right: 40px;
}

.nav-link{
  font-size: 20px;
}


#cyber-font-home{
  font-size: 120px;
  text-align: center;
  color: #ff2a6d;
  font-family: defcon;
}


#top-cell{
  background-color: #29132e;
  padding: 50px;
  height: 400px;
}


#middle-cell{
  background-color: white;
  height: 700px;
}
